<%= form_with(model: user, html: { data: { controller: "masks" } }) do |form| %>
  <div class="row">
    <div class="col-6 card p-3 class">
      <div class="row mb-2">
        <div class="col">
          <%= form.label :name, 'Nome', style: "display: block" %>
          <%= form.text_field :name, class: "form-control" %>
          <%= errors_for(form, :name) %>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <%= form.label :cpf, 'CPF', style: "display: block" %>
          <%= form.text_field :cpf, class: "form-control", data: { masks_target: 'cpf' } %>
          <%= errors_for(form, :cpf) %>
        </div>
        <div class="col-6">
          <%= form.label :birthdate, 'Data de nasc.', style: "display: block" %>
          <%= form.date_field :birthdate, class: "form-control" %>
          <%= errors_for(form, :birthdate) %>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <%= form.label :email, style: "display: block" %>
          <%= form.text_field :email, class: "form-control" %>
          <%= errors_for(form, :email) %>
        </div>
        <div class="col">
          <%= form.label :phone, 'Celular', style: "display: block" %>
          <%= form.text_field :phone, class: "form-control", data: { masks_target: 'phone' } %>
          <%= errors_for(form, :phone) %>
        </div>
      </div>
      <div class="mt-3">
        <%= form.submit 'Salvar', class: "btn btn-primary text-white" %>
      </div>
    </div>
  </div>
<% end %>
